# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore IDE directory
.idea/
out/

graphql-dgs-codegen-core/out/

graphql-dgs-codegen-core/compiled-sources/

generated
generated-examples
scripts/__pycache__
